 <!-- 尾部 start-->
    <footer id="footer">
        <div class="why_select">
            <dl>
                <dd>
                    <h1>友情链接：</h1>
                </dd>
            </dl>
            <dl>
                <dd>
                    <a href="http://www.jgsu.edu.cn/">井冈山大学</a>
                </dd>
            </dl>
            <dl>
                <dd>
                    <a href="http://www.baidu.com/">百度</a>
                </dd>
            </dl>
            <dl>
                <dd style="margin-right:0px;">
                    <a href="http://jgsu.co.cnki.net/Login.html?dp=&r=1583990899820">井冈山大学论文官网</a>
                </dd>
            </dl>
        </div>
        <div class="company">
            <p>熊岩工作室 版权所有</p>
        </div>
    </footer>