<!-- 头部 start -->
<script>

    /*
    * 退出登录
    * 给退出登录设置点击事件
    * */
    function logout() {
        $.post("user", "action=logout", function (result) {
            if (result.flag) {
                //退出成功，跳转到登录页面
                location.href = "login.html"
            }
        }, "json")
    }

    /**
     * 显示用户登录的信息
     * 设置异步请求
     */
    $.post("user", "action=findUserInfo", function (result) {
        var user = result.data;
        if (user != null) {
            $(".shortcut").append("<!-- 登录状态  -->\n" +
                "            <div class=\"login\">\n" +
                "            \t\n" +
                "                <span>欢迎回来," + user.name + "</span>\n" +
                "                <a href=\"myfavorite.html?currentPage=1\" class=\"collection\">我的收藏</a>\n" +
                "                <a href=\"javascript:;\" onclick='logout()'>退出</a>\n" +
                "            </div>")
        } else {
            $(".shortcut").append("<!-- 未登录状态  -->\n" +
                "            <div class=\"login_out\">\n" +
                "                <a href=\"login.html\">登录</a>\n" +
                "                <a href=\"register.html\">注册</a>\n" +
                "            </div>")
        }
    }, "json")


    /**
     * 发送异步请求
     */
    $.post("category", "action=findAllCategory", function (result) {
        var data = result.data;
        $.each(data, function (index, element) {
            var cname = element.cname;
            var cid = element.cid;
            $(".nav").append("<li><a href=\"route_list.html?cid=" + cid + "&currentPage=1\">" + cname + "</a></li>")
        })
        $(".nav").append("<li><a href=\"favoriterank.html?currentPage=1\">收藏排行榜</a></li>")
    }, "json")

    function searchRoute() {
        var cid = getParameter("cid");
        location.href = "route_list.html?cid=" + cid + "&currentPage=1&keyword=" + $("#keyword").val()
    }
</script>
<script src="js/getParameter.js"></script>
<header id="header">
    <!--<div class="top_banner">
        <img src="images/top_banner.jpg" alt="">
    </div>-->
    <div class="shortcut">

    </div>
    <div class="header_wrap">
        <div class="topbar">
            <div class="logo">
                <a href="/"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="search">
                <input name="" id="keyword" type="text" placeholder="请输入路线名称" class="search_input" autocomplete="off">
                <a href="javascript:;" class="search-button" onclick="searchRoute()">搜索</a>
            </div>
            <div class="hottel">
                <div class="hot_pic">
                    <img src="images/hot_tel.jpg" alt="">
                </div>
                <div class="hot_tel">
                    <p class="hot_time">客服热线(9:00-6:00)</p>
                    <p class="hot_num">123-456-7890</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- 头部 end -->
<!-- 首页导航 -->
<div class="navitem">
    <ul class="nav">
        <li ><a href="index.html">首页</a></li>


    </ul>
</div>
    